<link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
<script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
<div class="contact">
    Reach out via email <a href="mailto:scott@catsharkconsulting.com">scott@catsharkconsulting.com</a>,
    phone <a href="tel:+12012927492">(201) 292-7492</a>,
    or <a class="schedule" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/catsharkconsulting'});return false;">schedule time with me</a>
</div>
