<head>
    <title>{{ site.title }} | {{ page.subtitle }}</title>
    <!-- best practice -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="{{ site.author }}" />
    <link rel="canonical" href="{{ page.url | absolute_url }}" />
    <!-- style -->
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/styles.css" />
    <!-- favicon -->
    <link rel="icon" type="image/png" href="/assets/images/logo-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/assets/images/logo-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/assets/images/logo-96x96.png" sizes="96x96">
    <!-- opengraph -->
    <meta property="og:title" content="{{ site.title }} | {{ page.subtitle }}" />
    <meta property="og:description" content="{{ site.long_desc }}" />
    <meta property="og:image" content="{{ '/assets/images/social.png' | absolute_url }}" />
    <meta property="og:url" content="{{ page.url | absolute_url }}" />
    <meta property="og:type" content="website" />
    <!-- twitter -->
    <meta name="twitter:title" content="{{ site.title }}" />
    <meta name="twitter:description" content="{{ site.short_desc }}" />
    <meta name="twitter:image" content="{{ '/assets/images/social.png' | absolute_url }}" />
    <meta name="twitter:card" content="summary_large_image" />
</head>
